<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/hero1.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero2.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero3.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Witaj w Moim świecie!</h1>
    </div>

<p class="font_8 wixui-rich-text__text" style="font-size:18px; text-align:center;"><span style="font-family:proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;" class="wixui-rich-text__text"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#5E5585;" class="wixui-rich-text__text"><span class="wixGuard wixui-rich-text__text">​</span></span></span></span></p>

<p class="font_8 wixui-rich-text__text" style="font-size:18px; text-align:center;"><span style="font-family:proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;" class="wixui-rich-text__text"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#5E5585;" class="wixui-rich-text__text">O mnie:</span></span></span></p>
<p class="font_8 wixui-rich-text__text" style="font-size:18px; text-align:center;"><span style="font-family:proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;" class="wixui-rich-text__text"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#5E5585;" class="wixui-rich-text__text">Nazywam się Agnieszka Kuznecka. Kocham rękodzieło. Każdą wolną chwilę przeznaczam na swoje robótki. Daje mi to radość i jest odskocznią od codziennych obowiązków.</span></span></span></p>
<p class="font_8 wixui-rich-text__text" style="font-size:18px; text-align:center;"><span style="font-family:proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;" class="wixui-rich-text__text"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#5E5585;" class="wixui-rich-text__text">Techniki jakie stosuję to szydełko, haft, malowanie, decoupage</span></span></span></p>
<p class="font_8 wixui-rich-text__text" style="font-size:18px; text-align:center;"><span style="font-family:proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;" class="wixui-rich-text__text"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#5E5585;" class="wixui-rich-text__text">Zapraszam gorąco do wizyty Mojego bloga gdzie znajdziesz więcej rękodzieł</span></span></span></p>
<p class="font_8 wixui-rich-text__text" style="font-size:18px; text-align:center;"><span style="font-family:proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;" class="wixui-rich-text__text"><span style="font-size:18px;" class="wixui-rich-text__text"><span style="color:#5E5585;" class="wixui-rich-text__text">Podoba Ci się coś? - chcesz zamówić? - napisz do mnie Mój adres e-mail: agk.20a@interia.pl</span></span></span></p>


<p class="wixui-rich-text__text">&nbsp;</p>

<p class="font_8 wixui-rich-text__text" style="font-size:15px;">&nbsp;</p>

<p class="wixui-rich-text__text">&nbsp;</p>
</section>